@inject IHttpContextAccessor IhttpcontextAccessor
@{
    ViewData["Title"] = "GetCookie";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>GetCookie</h1>

<p>
    UserName : @IhttpcontextAccessor.HttpContext.Request.Cookies["Username"]
</p>

<p>
    Email: @IhttpcontextAccessor.HttpContext.Request.Cookies["Username"]
</p>