
@{
    ViewData["Title"] = "StoreData";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>StoreData</h1>

<p>
  Data from View bag :  @ViewBag.res
   
   
</p>

<p>
    Data from View data :    @ViewData["res1"]
</p>

<p>
    Data from temp data :   @TempData["res2"]
</p>